<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- bootstrap -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      crossorigin="anonymous"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="../Css/shopping.css" />
    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Zilla+Slab:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- icon -->
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <!-- favicon -->
    <link
      rel="shortcut icon"
      href="../Img/icons8-musica-youtube.svg"
      type="image/x-icon"
    />
    <title>Perfil / Compra</title>
  </head>
  <body>
    <div class="decoration"></div>

    <div class="container">
      <div class="row-sm-1">
        <header>
          <div class="col-xxl">
            <h1 class="title">MEU PERFIL</h1>
          </div>
        </header>
        
        <div class="row">
            <div class="col">
                <main>
                    <div class="col-sm-2 d-md-none d-xxl-block container-img">
                        <img class="img-fluid  d-sm-none d-xxl-block photo" src="../Img/fisher.webp" alt="" />
                    </div>
                    
                    <div class="col container-form">

                        <form novalidate>
                            <div class="form-group">
                                <div class="form-floating">
                                    <input
                                        type="text"
                                        id="text1"
                                        class="form-control email-input"
                                        placeholder="Nome Completo"
                                    />
                                    <label for="email" class="form-label email-label"
                                        >Nome Completo</label
                                    >
                                </div>
                            </div>

                            <div class="form-group group-flex">
                                <div class="form-floating">
                                    <input
                                        type="text"
                                        id="text2"
                                        class="form-control cep-input"
                                        placeholder="CEP"
                                    />
                                    <label for="email" class="form-label cep-label"
                                        >CEP</label
                                    >
                                </div>
                                <div class="form-floating">
                                    <input
                                    type="date"
                                    id="date1"
                                    class="form-control date-input"
                                    
                                
                                >
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-floating">
                                    <input
                                        type="text"
                                        id="text3"
                                        class="form-control email-input"
                                        placeholder="Endereço"
                                    />
                                    <label for="email" class="form-label email-label"
                                        >Endereço</label
                                    >
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="form-floating">
                                    <input
                                        type="email"
                                        id="email1"
                                        class="form-control email-input"
                                        placeholder="Email"
                                    />
                                    <label for="email" class="form-label email-label"
                                        >Email</label
                                    >
                                </div>
                            </div>
                        </form>

                        <div class="col">
                            <div class="price">
                                <p class="price-title">R$ 24,90</p>
                                <a href="/_Site/View/card.html">
                                    <button type="button" class="btn btn-success">COMPRAR</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                </main>


               
            
            </div>
        </div>
      </div>
    </div>
    <!-- Footer -->
    <footer class="footer-visible">
        <img  class="img-footer" src="../Img/imgFooter.svg" alt="">

        
            <a href="">
                <img class="icon-face" src="../Img/icons8-facebook 2.svg" alt="" srcset="">
            </a>
            
            <a href="">
                <img class="icon-insta" src="../Img/icons8-instagram 1.svg" alt="" srcset="">
            </a>
       
    </footer>
  </body>
</html>
